.home {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  overflow-x: visible !important;
  background-image: url("../../public/home/home.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  justify-content: center;
  align-items: center;
  width: 40%;
}

.home-content {
  justify-content: center;
  margin: 10px 30px;
  word-wrap: break-word;
  align-items: center;
  padding: 10px 10px;
}

.home-acm {
  font-family: var(--font-1);
  font-size: 170%;
  margin: 0 0 20px 0;
}

.home-awap {
  font-family: "Rubik";
  font-size: 250%;
  color: var(--main-color);
  font-weight: 900;
  margin: 0 0 5px 0;
}

.home-registration-open {
  font-family: var(--font-3);
  font-size: 150%;
  margin: 0 0 150px 0;
}

.home-register-button-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-register-button {
  color: var(--main-color);
  font-family: var(--font-3);
  font-size: 1.5em;
  border: 2px solid var(--main-color);
  border-radius: 2vh;
  background: var(--background-color);
  margin: 0 0 40px 0;
  padding: 20px 70px;
  width: fit-content;
}

.home-register-button:hover {
  background-color: rgba(218, 189, 157);
}

.home-register-link {
  text-decoration: none;
  color: var(--main-color);
}

.home-event-title {
  font-family: "Orbitron";
  font-size: 225%;
  margin: 0 0 40px 0;
  color: var(--main-color);
  font-weight: 800;
}

.home p {
  color: var(--background-color);
}

@media screen and (max-width: 800px) {
  .home {
    height: auto;
    font-size: smaller;
    padding: 60px 0 0 0;
  }
  .col {
    width: auto;
  }
  video {
    width: 90%;
    height: auto;
  }
  .home-registration-open {
    margin: auto;
  }
  .home-acm {
    margin: 0 0 10px 0;
  }
  .home-awap {
    font-size: smallest;
  }
  .home-register-button {
    margin: 0 0 10px 0;
  }
  .home-event-title {
    margin: 0 0 20px 0;
  }
}
